<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Таблица услуг</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="wrapper">

    <table>
      <!-- Заголовки -->
      <tr>
        <th></th>
        <th>Дата начала
            <span class="sub-number">1</span>
        </th>
        <th>Дата конца
            <span class="sub-number">1</span>
        </th>
        <th>Цена</th>
        <th>Сумма</th>
      </tr>

      <!-- Свет -->
      <tr class="glow glow-svet">
        <td class="glow-arrow">Свет</td>
        <td>19527</td>
        <td>19520</td>
        <td>200 ₽</td>
        <td>200 ₽</td>
      </tr>

      <!-- Холодная вода -->
      <tr class="glow glow-holodnaja">
        <td class="glow-arrow">Холодная вода</td>
        <td>19527</td>
        <td>19520</td>
        <td>50 ₽</td>
        <td>50 ₽</td>
      </tr>

      <!-- Горячая вода -->
      <tr class="glow glow-goryachaja">
        <td class="glow-arrow">Горячая вода</td>
        <td>19527</td>
        <td>19520</td>
        <td>150 ₽</td>
        <td>150 ₽</td>
      </tr>

      <!-- Водоотведение -->
      <tr class="glow glow-otvod">
        <td class="glow-arrow">Водоотведение</td>
        <td>19527</td>
        <td>19520</td>
        <td>100 ₽</td>
        <td>100 ₽</td>
      </tr>

      <!-- Итоговая сумма -->
      <tr class="total-row">
        <td class="empty">—</td>
        <td class="empty">—</td>
        <td class="empty">—</td>
        <td>Итого:</td>
        <td class="total-sum">500 ₽</td>
      </tr>
    </table>
  </div>
</body>
</html>