<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Таблица услуг</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="wrapper">

    <table>
      <!-- Заголовки -->
      <tr>
        <th>
            <svg width="0" height="0" style="position:absolute">
              <defs>
                <mask id="text-mask" x="0" y="0" width="300" height="90" maskUnits="userSpaceOnUse">
                  <!-- чёрный фон = всё скрыто -->
                  <rect x="0" y="0" width="300" height="90" fill="black" />
                  <!-- белый текст = то, что останется видимым -->
                  <text x="10" y="70"
                     font-size="80" font-weight="bold"
                     fill="white">
                    2025
                  </text>
                </mask>
              </defs>
            </svg>

          <div class="masked-box"></div>

        </th>
        <th>Дата начала</th>
        <th>Дата конца</th>
        <th>Расход </th>
        <th>Цена</th>
        <th>Сумма</th>
      </tr>

      <!-- Свет -->
      <tr class="glow glow-svet">
        <td class="glow-arrow">Свет</td>
        <td>01.07.2025</td>
        <td>31.07.2025</td>
        <td>Расход м<sup>3</sup> </td>
        <td>200 руб/м<sup>3</sup></td>
        <td>200 ₽</td>
      </tr>

      <!-- Холодная вода -->
      <tr class="glow glow-holodnaja">
        <td class="glow-arrow">Холодная вода</td>
        <td>01.07.2025</td>
        <td>31.07.2025</td>
        <td>Расход </td>
        <td>50 ₽</td>
        <td>50 ₽</td>
      </tr>

      <!-- Горячая вода -->
      <tr class="glow glow-goryachaja">
        <td class="glow-arrow">Горячая вода</td>
        <td>01.07.2025</td>
        <td>31.07.2025</td>
        <th>Расход </th>
        <td>150 ₽</td>
        <td>150 ₽</td>
      </tr>

      <!-- Водоотведение -->
      <tr class="glow glow-otvod">
        <td class="glow-arrow">Водоотведение</td>
        <td>01.07.2025</td>
        <td>31.07.2025</td>
        <th>Расход </th>
        <td>100 ₽</td>
        <td>100 ₽</td>
      </tr>

      <!-- Итоговая сумма -->
      <tr class="total-row">
        <td class="empty">—</td>
        <td class="empty">—</td>
        <td class="empty">—</td>
        <td class="empty">—</td>
        <td>Итого</td>
        <td class="total-sum">500 ₽</td>
      </tr>
    </table>
  </div>
</body>
</html>